# PyCity Schools Analysis

- As the Chief Data Scientist for PyCity, I'm helping the school board and mayor make strategic decisions regarding future budgets and priorities. After analyzing the math and reading scores of every student (plus information on the schools they attended) I discovered trends from which multiple conclusions can be drawn.
- There are 15 schools total with a combined budget of $24.65 million. There are 39,710 total students, of which 65% are passing. 75% are passing math (the average math score being 79) and 86% are passing reading (the average reading score being 82). But where does each school stand? The highest-performing school is Cabrera High School with an overall passing rate of 91% while the lowest-performing school is Rodriguez High School with an overall passing rate of 53%. The schools that spend the most amount of money per student (645-680 dollars) have an overall passing rate of 54%. The schools that spend the least amount of money per student (less than 585 dollars) have an overall passing rate of 90%. The schools with the most students (between 2000 and 5000) have an overall passing rate of 58% while the schools with the least students (less than 1000) have an overall passing rate of 90%. Charter schools have an overall passing rate of 90% while District schools have an overall passing rate of 54%.
- From this, one thing we can see is that spending more per student doesn't guarantee a higher overall passing rate. The percentage of students passing both math and reading is actually lower where spending per student is higher, with the most noticeable difference being in math (a 66% passing rate among students with the most money being spent on them vs. a 93% passing rate among students with the least money being spent on them). Additionally, schools with fewer students have a higher overall passing rate with another noticeable difference being in math (70% passing in schools with 2000-5000 students vs. 94% passing in schools with less than 1000 students). Finally, Charter schools have a higher overall passing rate than District schools with yet another noticable difference in math (94% vs. 67%).
- To get the most growth from spending, money doesn't necessarily have to be increased but rather placed strategically. Since spending more per student doesn't automatically improve scores, making it a priority to maintain a small or medium budget per student will avoid situations where spending is excessive and results are lackluster. Additionally, prioritizing schools with a small or medium student population will reap the most benefit. District schools might be able to keep pace with the overall passing rate of Charter schools if they make math a priority. Finally, larger schools might be able to keep pace with smaller schools if they too make math a priority. Both large schools and District schools might not see improvements just by increasing their budget per student, but prioritizing the lagging subject (math) has the potential to do them wonders!

---

In [1]:
import pandas as pd
from pathlib import Path

schools_filepath = Path("resources/schools-complete.csv")
students_filepath = Path("resources/students-complete.csv")

schools_data = pd.read_csv(schools_filepath)
students_data = pd.read_csv(students_filepath)

schools_and_students_data = pd.merge(students_data, schools_data, how="left", on="school_name")
schools_and_students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# Summary of District

In [2]:
num_of_schools = schools_data["School ID"].nunique()
num_of_schools

15

In [3]:
num_of_students = students_data["Student ID"].nunique()
num_of_students

39170

In [4]:
budget_sum = schools_data["budget"].sum()
budget_sum

np.int64(24649428)

In [5]:
math_score_average = students_data["math_score"].mean()
math_score_average

np.float64(78.98537145774827)

In [6]:
reading_score_average = students_data["reading_score"].mean()
reading_score_average

np.float64(81.87784018381414)

In [7]:
num_passing_math = schools_and_students_data[schools_and_students_data["math_score"] >= 70]["Student ID"].nunique()
passing_math_rate = (num_passing_math / num_of_students) * 100
passing_math_rate

74.9808526933878

In [8]:
num_passing_reading = schools_and_students_data[schools_and_students_data["reading_score"] >= 70]["Student ID"].nunique()
passing_reading_rate = (num_passing_reading / num_of_students) * 100
passing_reading_rate

85.80546336482001

In [9]:
num_passing_math_and_reading = schools_and_students_data[(schools_and_students_data["math_score"] >= 70) & (schools_and_students_data["reading_score"] >= 70)]["Student ID"].nunique()
passing_math_and_reading_rate = (num_passing_math_and_reading / num_of_students) * 100
passing_math_and_reading_rate

65.17232575950983

In [10]:
summary_of_district = pd.DataFrame({
    "Total Schools": [num_of_schools],
    "Total Students": [num_of_students],
    "Total Budget": [budget_sum],
    "Average Math Score": [math_score_average],
    "Average Reading Score": [reading_score_average],
    "% Passing Math": [passing_math_rate],
    "% Passing Reading": [passing_reading_rate],
    "% Overall Passing": [passing_math_and_reading_rate]
})

# formatting
summary_of_district["Total Students"] = summary_of_district["Total Students"].map("{:,}".format)
summary_of_district["Total Budget"] = summary_of_district["Total Budget"].map("${:,.2f}".format)

summary_of_district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# Summary of School

In [11]:
types_per_school = schools_data.set_index("school_name")["type"]
types_per_school

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
students_per_school = schools_data.set_index("school_name")["size"]
students_per_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
budgets_per_school = schools_data.set_index("school_name")["budget"]
budgets_per_school_percapita = budgets_per_school / students_per_school

budgets_per_school_percapita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [14]:
math_scores_per_school = schools_and_students_data.set_index("school_name")["math_score"]
math_scores_per_school_average = math_scores_per_school.groupby("school_name").mean()

math_scores_per_school_average

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [15]:
reading_scores_per_school = schools_and_students_data.set_index("school_name")["reading_score"]
reading_scores_per_school_average = reading_scores_per_school.groupby("school_name").mean()

reading_scores_per_school_average

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
num_passing_math = (math_scores_per_school >= 70).count()
num_passing_math_per_school = math_scores_per_school[math_scores_per_school >= 70].groupby("school_name").count()
math_passing_rate_per_school = (num_passing_math_per_school / students_per_school) * 100

math_passing_rate_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [17]:
num_passing_reading = (reading_scores_per_school >= 70).count()
num_passing_reading_per_school = reading_scores_per_school[reading_scores_per_school >= 70].groupby("school_name").count()
reading_passing_rate_per_school = (num_passing_reading_per_school / students_per_school) * 100

reading_passing_rate_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [18]:
num_passing_math_and_reading = schools_and_students_data[(schools_and_students_data["math_score"] >= 70) & (schools_and_students_data["reading_score"] >= 70)]["Student ID"].count()
num_passing_math_and_reading_per_school = schools_and_students_data[(schools_and_students_data["math_score"] >= 70) & (schools_and_students_data["reading_score"] >= 70)].groupby("school_name").size()
math_and_reading_passing_rate_per_school = (num_passing_math_and_reading_per_school / students_per_school) * 100

math_and_reading_passing_rate_per_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [19]:
summary_of_school = pd.DataFrame({
    "School Type": types_per_school,
    "Total Students": students_per_school,
    "Total School Budget": budgets_per_school,
    "Per Student Budget": budgets_per_school_percapita,
    "Average Math Score": math_scores_per_school_average,
    "Average Reading Score": reading_scores_per_school_average,
    "% Passing Math": math_passing_rate_per_school,
    "% Passing Reading": reading_passing_rate_per_school,
    "% Overall Passing": math_and_reading_passing_rate_per_school
})

# formatting
summary_of_school["Total School Budget"] = summary_of_school["Total School Budget"].map("${:,.2f}".format)
summary_of_school["Per Student Budget"] = summary_of_school["Per Student Budget"].map("${:.2f}".format)

summary_of_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# Highest-Performing Schools (by % Overall Passing)

In [20]:
highest_performing_schools = summary_of_school.sort_values(by="% Overall Passing", ascending=False)
highest_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

# Lowest-Performing Schools (by % Overall Passing)

In [21]:
lowest_performing_schools = summary_of_school.sort_values(by="% Overall Passing")
lowest_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade

In [22]:
grade_9_data = schools_and_students_data[schools_and_students_data["grade"] == "9th"]
grade_9_math_score_averages = grade_9_data.groupby("school_name")["math_score"].mean()

grade_10_data = schools_and_students_data[schools_and_students_data["grade"] == "10th"]
grade_10_math_score_averages = grade_10_data.groupby("school_name")["math_score"].mean()

grade_11_data = schools_and_students_data[schools_and_students_data["grade"] == "11th"]
grade_11_math_score_averages = grade_11_data.groupby("school_name")["math_score"].mean()

grade_12_data = schools_and_students_data[schools_and_students_data["grade"] == "12th"]
grade_12_math_score_averages = grade_12_data.groupby("school_name")["math_score"].mean()

math_scores_by_grade = pd.DataFrame({
    "9th": grade_9_math_score_averages,
    "10th": grade_10_math_score_averages,
    "11th": grade_11_math_score_averages,
    "12th": grade_12_math_score_averages
})

# formatting
math_scores_by_grade.index.name = None

math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [23]:
grade_9_data = schools_and_students_data[schools_and_students_data["grade"] == "9th"]
grade_9_reading_score_averages = grade_9_data.groupby("school_name")["reading_score"].mean()

grade_10_data = schools_and_students_data[schools_and_students_data["grade"] == "10th"]
grade_10_reading_score_averages = grade_10_data.groupby("school_name")["reading_score"].mean()

grade_11_data = schools_and_students_data[schools_and_students_data["grade"] == "11th"]
grade_11_reading_score_averages = grade_11_data.groupby("school_name")["reading_score"].mean()

grade_12_data = schools_and_students_data[schools_and_students_data["grade"] == "12th"]
grade_12_reading_score_averages = grade_12_data.groupby("school_name")["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({
    "9th": grade_9_reading_score_averages,
    "10th": grade_10_reading_score_averages,
    "11th": grade_11_reading_score_averages,
    "12th": grade_12_reading_score_averages
})

# formatting
reading_scores_by_grade.index.name = None

reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [24]:
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
school_spending_data = summary_of_school.copy()

In [26]:
school_spending_data["Spending Ranges (Per Student)"] = pd.cut(budgets_per_school_percapita, bins=spending_bins, labels=spending_labels)

# formatting
school_spending_data["Spending Ranges (Per Student)"] = school_spending_data["Spending Ranges (Per Student)"].astype(str)

school_spending_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [27]:
spending_bin_math_score_averages = school_spending_data.groupby("Spending Ranges (Per Student)")["Average Math Score"].mean()
spending_bin_reading_score_averages = school_spending_data.groupby("Spending Ranges (Per Student)")["Average Reading Score"].mean()

spending_bin_passing_math_averages = school_spending_data.groupby("Spending Ranges (Per Student)")["% Passing Math"].mean()
spending_bin_passing_reading_averages = school_spending_data.groupby("Spending Ranges (Per Student)")["% Passing Reading"].mean()
spending_bin_passing_math_and_reading_averages = school_spending_data.groupby("Spending Ranges (Per Student)")["% Overall Passing"].mean()

scores_by_school_spending = pd.DataFrame({
    "Average Math Score": spending_bin_math_score_averages,
    "Average Reading Score": spending_bin_reading_score_averages,
    "% Passing Math": spending_bin_passing_math_averages,
    "% Passing Reading": spending_bin_passing_reading_averages,
    "% Overall Passing": spending_bin_passing_math_and_reading_averages
})

scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855
<$585,83.455399,83.933814,93.460096,96.610877,90.369459

# Scores by School Size

In [28]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [29]:
school_size_data = summary_of_school.copy()

In [30]:
school_size_data["School Size"] = pd.cut(students_per_school, bins=size_bins, labels=size_labels)

# formatting
school_size_data["School Size"] = school_size_data["School Size"].astype(str)

school_size_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [31]:
size_bin_math_score_averages = school_size_data.groupby("School Size")["Average Math Score"].mean()
size_bin_reading_score_averages = school_size_data.groupby("School Size")["Average Reading Score"].mean()

size_bin_passing_math_averages = school_size_data.groupby("School Size")["% Passing Math"].mean()
size_bin_passing_reading_averages = school_size_data.groupby("School Size")["% Passing Reading"].mean()
size_bin_passing_math_and_reading_averages = school_size_data.groupby("School Size")["% Overall Passing"].mean()

scores_by_school_size = pd.DataFrame({
    "Average Math Score": size_bin_math_score_averages,
    "Average Reading Score": size_bin_reading_score_averages,
    "% Passing Math": size_bin_passing_math_averages,
    "% Passing Reading": size_bin_passing_reading_averages,
    "% Overall Passing": size_bin_passing_math_and_reading_averages
})

scores_by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853

# Scores by School Type

In [32]:
school_type_math_score_averages = summary_of_school.groupby(["School Type"])["Average Math Score"].mean()
school_type_reading_score_averages = summary_of_school.groupby(["School Type"])["Average Reading Score"].mean()

school_type_passing_math_averages = summary_of_school.groupby(["School Type"])["% Passing Math"].mean()
school_type_passing_reading_averages = summary_of_school.groupby(["School Type"])["% Passing Reading"].mean()
school_type_passing_math_and_reading_averages = summary_of_school.groupby(["School Type"])["% Overall Passing"].mean()

scores_by_school_type = pd.DataFrame({
    "Average Math Score": school_type_math_score_averages,
    "Average Reading Score": school_type_reading_score_averages,
    "% Passing Math": school_type_passing_math_averages,
    "% Passing Reading": school_type_passing_reading_averages,
    "% Overall Passing": school_type_passing_math_and_reading_averages
})

scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208